body {
    font: 20px Arial, sans-serif;
}

.navbar {
    background-color: #ececec;
    border-bottom: rgb(0, 0, 0) 1px;
}

.quem-somos {
    background-color: #c9ada7;
    color: white;
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros {
    background-color: #9a8c98;
    color: white;
}

.imagens {
    width: 50%;
}

.serviços {
    background-color: #4a4e69;
    color: white;
}

.bg-footer {
    background-color: #22223b;
    color: white;
}