.navbar {
    background-color: #000000;
}
.quem-somos{
    background-color: rgb(0, 0, 0);
}
.margin{
    padding-top: 30px;
}
.nav-link{
    text-decoration: cornsilk;
}
#quemsomos{
    color: rgb(255, 255, 255);
}